# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Final/v17/.wsuo
/PLULearningTool/.vs/PLULearningTool/FileContentIndex/b64cbe37-872a-463b-9645-5fe2e3b26fe6.vsidx
/PLULearningTool/.vs/PLULearningTool/v17/Browse.VC.db
/PLULearningTool/.vs/PLULearningTool/v17/Browse.VC.db-shm
/PLULearningTool/.vs/PLULearningTool/v17/Browse.VC.db-wal
/PLULearningTool/.vs/PLULearningTool/v17/Browse.VC.opendb
/PLULearningTool/.vs/PLULearningTool/FileContentIndex/1e64610b-61a1-4323-a6ef-4895484a0338.vsidx
/PLULearningTool/.vs/PLULearningTool/FileContentIndex/a90292e5-fa1f-4dcc-b747-223baf16a4e8.vsidx
/PLULearningTool/.vs/PLULearningTool/FileContentIndex/5a1cc25b-e34d-4878-9303-08f926e4b030.vsidx
